/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.editor-styles-wrapper .wp-block-createwithrani-superlist-block {
	&.horizontal {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		grid-template-rows: auto 1fr auto;
		li {
			margin: 0;
		}
	}
	&.none {
		list-style: none;
		padding: 0;
		li {
			list-style: none;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
