/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-createwithrani-superlist-block {
	--listItemWidth: var(
		--wp--custom--superlist-block--list-settings--width,
		250px
	);
	--textColor: var(--wp--custom--superlist-block--color--text, inherit);
	--linkColor: var(--wp--custom--superlist-block--color--link, inherit);
	--backgroundColor: var(
		--wp--custom--superlist-block--color--background-color,
		inherit
	);
	--fontSize: var(
		--wp--custom--superlist-block--typography--font-size,
		inherit
	);
	--fontFamily: var(
		--wp--custom--superlist-block--typography--font-family,
		inherit
	);
	--lineHeight: var(
		--wp--custom--superlist-block--typography--line-height,
		inherit
	);
	--textTransform: var(
		--wp--custom--superlist-block--typography--text-transform,
		inherit
	);
	--fontWeight: var(
		--wp--custom--superlist-block--typography--font-weight,
		inherit
	);

	--margin: var(--wp--custom--superlist-block--spacing--margin, inherit);
	--padding: var(--wp--custom--superlist-block--spacing--padding, inherit);
	color: var(--textColor);
	background-color: var(--backgroundColor);
	font-size: var(--fontSize);
	font-family: var(--fontFamily);
	font-weight: var(--fontWeight);
	line-height: var(--lineHeight);
	text-transform: var(--textTransform);
	margin: var(--margin);
	padding: var(--padding);
	a {
		color: var(--linkColor);
	}
	&.horizontal {
		display: grid;
		gap: 2rem;
		grid-template-rows: auto;
		grid-template-columns: repeat(auto-fill, minmax(var(--listItemWidth), 1fr));
	}
	&.none {
		list-style: none;
		li {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&.is-vertically-aligned-center {
		align-items: center;
	}
	&.is-vertically-aligned-top {
		align-items: flex-start;
	}
	&.is-vertically-aligned-bottom {
		align-items: flex-end;
	}
}

// allow indentation via padding to occur when a super list is nested inside a super list item, otherwise, remove the unnecessary padding-left.
:not(li) > ul.wp-block-createwithrani-superlist-block {
	padding-inline-start: 0;
	margin-inline-start: 0;
	li {
		flex: 1;
	}
}

ul.wp-block-createwithrani-superlist-block {
	li {
		flex: 1;
	}
}
