/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-createwithrani-superlist-block {
	&.horizontal {
		display: grid;
		gap: 2rem;
		grid-template-rows: auto;
	}
	&.none {
		list-style: none;
		li {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&.is-vertically-aligned-center {
		align-items: center;
	}
	&.is-vertically-aligned-top {
		align-items: flex-start;
	}
	&.is-vertically-aligned-bottom {
		align-items: flex-end;
	}
}

// allow indentation via padding to occur when a super list is nested inside a super list item, otherwise, remove the unnecessary padding-left.
:not(li) > ul.wp-block-createwithrani-superlist-block {
	padding-inline-start: 0;
	margin-inline-start: 0;
	li {
		flex: 1;
	}
}

ul.wp-block-createwithrani-superlist-block {
	li {
		flex: 1;
	}
}
