/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-createwithrani-superlist-block {
	&.horizontal {
		display: grid;
		gap: 2rem;
		grid-template-rows: auto 1fr auto;
	}
	&.none {
		list-style: none;
		li {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

ul.wp-block-createwithrani-superlist-block {
	padding-left: 0;
	li {
		flex: 1;
	}
}
