/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="createwithrani/superlist-block"] {
	.block-list-appender {
		button.block-list-appender__toggle {
			width: auto;
			height: auto;
			padding: 0.2rem !important;
			&:after {
				content: attr(aria-label);
			}
		}
	}
	&.is-selected,
	&.has-child-selected {
		.block-list-appender {
			display: block;
		}
	}
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
	& > [data-type="createwithrani/superlist-block"] > li {
		max-width: var(--responsive--alignwide-width);
	}
}

.editor-styles-wrapper .wp-block[data-align="full"] {
	& > [data-type="createwithrani/superlist-block"] > li {
		max-width: var(--responsive--alignfull-width);
	}
}
