/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.editor-styles-wrapper .wp-block-createwithrani-superlist-block {
	&.horizontal {
		li {
			margin: 0;
		}
	}
	&.none {
		padding: 0;
		li {
			list-style: none;
		}
	}
}
